.calculator-input-section {
    max-width: 24.4em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media(min-width: 52em) {
        margin-right: 2.8em;
    }


    &__bill {
        display: flex;
        flex-direction: column;
        position: relative;
        // &::before {
        //     content: "Can't be zero";
        //     color: hsla(0, 100%, 50%, .5);
        //     position: absolute; 
        //     right: 0;
        //     font-size: .6em;
        //     font-weight: $fw-b;
        // }
        
    }

    &__tip {
        margin-bottom: 2em;

            
    @media(min-width: 52em) {
        margin: 2em 0;
    }
        &-set {
            border: 0;
            padding: 0;
            margin: 0;

            &__values {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;
                justify-items: center;
                margin-top: 1.2em;

                @media(min-width: 32.5em) {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                &-value {
                    display: flex;
                    position: relative;
                    max-width: 9em;
                    width: 100%;
                    border-radius: .5em;
                    overflow: hidden;


                    &__label {
                        background: $color-very-dark-cyan;
                        color: $color-white;
                        font-weight: $fw-b;
                        font-size: 1.3em;
                        width: 100%;
                        padding: .7em 0em;
                        text-align: center;
                        cursor: pointer;
                        user-select: none;
                        transition: all .2s linear;

                        &:hover {
                            background: hsl(173, 61%, 77%);
                            color: $color-very-dark-cyan;
                        }
                    }

                    &__radio {
                        visibility: hidden;
                        position: absolute;
                    }
    
                    &__radio:checked ~ &__label {
                        background: $color-strong-cyan;
                        color: $color-very-dark-cyan;
                    }

                    &__custom {
                        width: 100%;
                        text-align: right;
                        border: 2px solid transparent;
                        outline: none;
                        background: $color-very-light-grayish-cyan;
                        font-family: $ff-space-mono;
                        font-size: 1.3em;
                        font-weight: $fw-b;
                        border-radius: .5em;
                        cursor: pointer;
                        padding: 0 .5em;
                        -webkit-caret-color: $color-strong-cyan;
                        -moz-caret-color: $color-strong-cyan;
                        -ms-caret-color: $color-strong-cyan;
                        -o-caret-color: $color-strong-cyan;
                        caret-color: $color-strong-cyan;
                        transition: all .2s linear;

                        &::placeholder {
                            text-align: center;
                            color: $color-dark-grayish-cyan;
                        }

                        &:focus, &:hover {
                            border-color: $color-strong-cyan;
                        }

                        &:focus::placeholder{
                            opacity: 0;
                        }

                    }
                }

            }
        }
    }

}