:root {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $ff-space-mono;
    font-weight: fw-r;
    line-height: 1.3;
    background: $color-light-grayish-cyan;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    // padding: 0 1em;
}

.calculator {
    background: $color-white;
    margin-top: 2.1em;
    padding: 1.6em;
    border-radius: 1em;
}

.input-display {
    padding: .8em .8em .8em 2em;
    text-align: right;
    border: 2px solid transparent;
    border-radius: .5em;
    background: $color-very-light-grayish-cyan;
    font-family: $ff-space-mono;
    font-weight: $fw-b;
    color: $color-very-dark-cyan;
    width: 100%;
    margin-top: .3em;
    margin-bottom: 2.2em;
    outline: none;
    transition: border .2s linear;

    &.error:focus {
        border-color: red;
    }

    &:focus {
        border-color: $color-strong-cyan;
    }
}

.label-title {
    font-size: .8em;
    font-weight: $fw-b;
    color: $color-very-dark-grayish-cyan;
    position: relative;

    
    &::before {
        content: '';
        background-image: url(../../images/icon-dollar.svg);
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        position: absolute;
        z-index: 100;
        bottom: -33px;
        left: 1em;
        width: 15px;
        height: 15px;
        // border: 1px solid red;
    }

    &.calculator-input-section__tip-set__title::before {
        display: none;
    }

    &.calculator-input-section__people-title::before {
        background-image: url(../../images/icon-person.svg);
    }

}