:root {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: fw-r;
  line-height: 1.3;
  background: #c5e4e7;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator {
  background: white;
  margin-top: 2.1em;
  padding: 1.6em;
  border-radius: 1em;
}

.input-display {
  padding: .8em .8em .8em 2em;
  text-align: right;
  border: 2px solid transparent;
  border-radius: .5em;
  background: #f4fafa;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #00494d;
  width: 100%;
  margin-top: .3em;
  margin-bottom: 2.2em;
  outline: none;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
  -webkit-caret-color: #26c0ab;
  -moz-caret-color: #26c0ab;
  -ms-caret-color: #26c0ab;
  -o-caret-color: #26c0ab;
  caret-color: #26c0ab;
}

.input-display::-webkit-input-placeholder {
  color: #7f9c9f;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.1em;
}

.input-display:-ms-input-placeholder {
  color: #7f9c9f;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.1em;
}

.input-display::-ms-input-placeholder {
  color: #7f9c9f;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.1em;
}

.input-display::placeholder {
  color: #7f9c9f;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.1em;
}

.input-display.error:focus {
  border-color: red;
}

.input-display:focus {
  border-color: #26c0ab;
}

.label-title {
  font-size: .8em;
  font-weight: 700;
  color: #5e7a7d;
  position: relative;
}

.label-title::before {
  content: '';
  background-image: url(../../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  z-index: 100;
  bottom: -33px;
  left: 1em;
  width: 15px;
  height: 15px;
}

.label-title.calculator-input-section__tip-set__title::before {
  display: none;
}

.label-title.calculator-input-section__people-title::before {
  background-image: url(../../images/icon-person.svg);
}

.main-title {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1em;
  max-width: 5em;
  letter-spacing: .3em;
  color: #00494d;
}

.calculator-input-section {
  max-width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.calculator-input-section__bill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator-input-section__tip {
  margin-bottom: 2em;
}

.calculator-input-section__tip-set {
  border: 0;
  padding: 0;
  margin: 0;
}

.calculator-input-section__tip-set__values {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  margin-top: 1.2em;
}

.calculator-input-section__tip-set__values-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 9em;
  width: 100%;
  border-radius: .5em;
  overflow: hidden;
}

.calculator-input-section__tip-set__values-value__label {
  background: #00494d;
  color: white;
  font-weight: 700;
  width: 100%;
  padding: .9em 0em;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.calculator-input-section__tip-set__values-value__radio {
  visibility: hidden;
  position: absolute;
}

.calculator-input-section__tip-set__values-value__radio:checked ~ .calculator-input-section__tip-set__values-value__label {
  background: #26c0ab;
  color: #00494d;
}

.calculator-input-section__tip-set__values-value__custom {
  width: 100%;
  text-align: right;
  border: 2px solid transparent;
  outline: none;
  background: #f4fafa;
  font-family: "Space Mono", monospace;
  font-size: 1.3em;
  font-weight: 700;
  border-radius: .5em;
  cursor: pointer;
  -webkit-caret-color: #26c0ab;
  -moz-caret-color: #26c0ab;
  -ms-caret-color: #26c0ab;
  -o-caret-color: #26c0ab;
  caret-color: #26c0ab;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.calculator-input-section__tip-set__values-value__custom::-webkit-input-placeholder {
  text-align: center;
  color: #7f9c9f;
}

.calculator-input-section__tip-set__values-value__custom:-ms-input-placeholder {
  text-align: center;
  color: #7f9c9f;
}

.calculator-input-section__tip-set__values-value__custom::-ms-input-placeholder {
  text-align: center;
  color: #7f9c9f;
}

.calculator-input-section__tip-set__values-value__custom::placeholder {
  text-align: center;
  color: #7f9c9f;
}

.calculator-input-section__tip-set__values-value__custom:focus {
  border-color: #26c0ab;
}

.calculator-input-section__tip-set__values-value__custom:focus::-webkit-input-placeholder {
  opacity: 0;
}

.calculator-input-section__tip-set__values-value__custom:focus:-ms-input-placeholder {
  opacity: 0;
}

.calculator-input-section__tip-set__values-value__custom:focus::-ms-input-placeholder {
  opacity: 0;
}

.calculator-input-section__tip-set__values-value__custom:focus::placeholder {
  opacity: 0;
}

.calculator-output-section {
  background: #00494d;
  border-radius: .5em;
  padding: 2.5em 1.4em 1.4em;
  max-width: 20em;
}

.calculator-output-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.8em;
}

.calculator-output-section__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator-output-section__item-title__main {
  color: white;
  font-size: .8em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.calculator-output-section__item-title__amount {
  color: #7f9c9f;
  font-size: 0.7em;
  font-weight: 700;
}

.calculator-output-section__item-input {
  text-align: right;
  border: 0;
  background: transparent;
  outline: none;
  color: #26c0ab;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 40%;
}

.calculator-output-section__reset-btn {
  width: 100%;
  text-align: center;
  padding: .7em 0;
  background: -webkit-gradient(linear, left top, right top, from(#0b6a6f), to(#12696e));
  background: linear-gradient(to right, #0b6a6f, #12696e);
  border: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.1em;
  font-weight: 700;
  color: rgba(0, 73, 77, 0.5);
  text-transform: uppercase;
  border-radius: .3em;
  cursor: pointer;
}

.calculator-output-section__reset-btn.active {
  background: #26c0ab;
  color: #00494d;
}
/*# sourceMappingURL=style.css.map */